<script>
$(document).ready(function () {
	/* Set focus on correct field */
	$('#username').focus(); 		// Warning to use this only on visible element
});
</script>

<div class="login_center center" style="background-size: cover; background-position: center center; background-attachment: fixed; background-repeat: no-repeat; background: linear-gradient(0deg, rgb(240,240,240) 52%, rgb(0,95,191) 52.1%);">
<div class="login_vertical_align">


<form id="login" name="login" method="post" action="/login">

<input type="hidden" name="token" value="ca280f2434cb5fe4e44cb840aa8de96a" />
<input type="hidden" name="actionlogin" value="login">
<input type="hidden" name="loginfunction" value="loginfunction" />
<input type="hidden" name="backtopage" value="" />
<!-- Add fields to store and send local user information. This fields are filled by the core/js/dst.js -->
<input type="hidden" name="tz" id="tz" value="" />
<input type="hidden" name="tz_string" id="tz_string" value="" />
<input type="hidden" name="dst_observed" id="dst_observed" value="" />
<input type="hidden" name="dst_first" id="dst_first" value="" />
<input type="hidden" name="dst_second" id="dst_second" value="" />
<input type="hidden" name="screenwidth" id="screenwidth" value="" />
<input type="hidden" name="screenheight" id="screenheight" value="" />
<input type="hidden" name="dol_hide_topmenu" id="dol_hide_topmenu" value="" />
<input type="hidden" name="dol_hide_leftmenu" id="dol_hide_leftmenu" value="" />
<input type="hidden" name="dol_optimize_smallscreen" id="dol_optimize_smallscreen" value="" />
<input type="hidden" name="dol_no_mouse_hover" id="dol_no_mouse_hover" value="" />
<input type="hidden" name="dol_use_jmobile" id="dol_use_jmobile" value="" />



<!-- Title with version -->
<div class="login_table_title center" title="Dolibarr 17.0.1">
<a class="login_table_title" href="https://www.dolibarr.org" target="_blank" rel="noopener noreferrer external">Dolibarr 17.0.1</a></div>



<div class="login_table">

<div id="login_line1">

<div id="login_left">
<img alt="" src="https://dolischool.unez.edu.mx/dolischool_est/viewimage.php?cache=1&modulepart=mycompany&file=logos%2Fthumbs%2Flogo+UNEZ_small.jpg" id="img_logo" />
</div>

<br>

<div id="login_right">

<div class="tagtable left centpercent" title="Introduzca los datos de inicio de sesi&oacute;n">

<!-- Login -->
<div class="trinputlogin">
<div class="tagtd nowraponall center valignmiddle tdinputlogin">
<!-- <span class="span-icon-user">-->
<span class="fa fa-user"></span>
<input type="text" id="username" maxlength="255" placeholder="Inicio de sesi&oacute;n" name="username" class="flat input-icon-user minwidth150" value="" tabindex="1" autofocus="autofocus" />
</div>
</div>

<!-- Password -->
<div class="trinputlogin">
<div class="tagtd nowraponall center valignmiddle tdinputlogin">
<!--<span class="span-icon-password">-->
<span class="fa fa-key"></span>
<input type="password" id="password" maxlength="128" placeholder="Contrase&ntilde;a" name="password" class="flat input-icon-password minwidth150" value="" tabindex="2" autocomplete="off" />
</div></div>

	<!-- Captcha -->
	<div class="trinputlogin">
	<div class="tagtd none valignmiddle tdinputlogin nowrap">

	<span class="fa fa-unlock"></span>
	<span class="span-icon-security inline-block">
	<input id="securitycode" placeholder="C&oacute;digo seguridad" class="flat input-icon-security width125" type="text" maxlength="5" name="code" tabindex="3" autocomplete="off" />
	</span>
	<span class="nowrap inline-block">
	<img class="inline-block valignmiddle" src="https://dolischool.unez.edu.mx/dolischool_est/core/antispamimage.php" border="0" width="80" height="32" id="img_securitycode" />
	<a class="inline-block valignmiddle" href="/" tabindex="4" data-role="button"><span class="fas fa-redo" style="" title="Actualizar" id="captcha_refresh_img"></span></a>
	</span>

	</div></div>
	
</div>

</div> <!-- end div login_right -->

</div> <!-- end div login_line1 -->


<div id="login_line2" style="clear: both">

<!-- Button Connection -->
<br>
<div id="login-submit-wrapper">
<input type="submit" class="button subBtn" value="&nbsp; Inicio de sesi&oacute;n &nbsp;" tabindex="5" />
</div>

<br><div class="center" style="margin-top: 5px;"><a class="alogin" href="https://dolischool.unez.edu.mx/dolischool_est/user/passwordforgotten.php">&iquest;Contrase&ntilde;a olvidada?</a></div>
</div> <!-- end login line 2 -->

</div> <!-- end login table -->


</form>




<!-- authentication mode = dolibarr -->
<!-- cookie name used for this session = DOLSESSID_a6532c81c15421b009634283acce85aaa64a5935 -->
<!-- urlfrom in this session =  -->

<!-- Common footer is not used for login page, this is same than footer but inside login tpl -->



</div>
</div><!-- end of center -->